.notFound{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon{
    font-size: 140px;
  }
  .txt{
    font-size: 60px;
  }
  .colorTxt{
    color: red;
  }
}